h1 {
   font-size: 60px; 
   text-align: center;
   padding: 15px;
}

.lista{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    text-align: center;
}

.lista img{
    width: 9em;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.card{
    border: 2px solid;
    width: 15em;
    height: auto;
    padding: 15px;
}

